    <!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>ReLinkt</title>

    <% include /src/include/styles.ejs %>

</head>
<body>
    <div class="re-main">
        <% include /src/include/header.ejs %>
        <main class="re-about-content">
            <section class="re-section-img">
                <img class="re-clip-img" src="images/about-img.png" alt="">

                <svg width="1920" height="569" viewBox="0 0 1920 569" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <clipPath id="myClip">
                    <path d="M556 487.5C0.682739 305.074 -195.333 400.167 -351 566.5L-0.5 0H1920C2135.5 142.166 2952 174.501 2255.5 245C1682.79 302.969 1350.5 748.5 556 487.5Z" fill="url(#paint0_linear)"/>
                </clipPath>
                </svg>                
            </section>
            <section class="re-about-data">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-5">
                            <div class="re-data-list">
                                <img src="images/teacher.svg" alt="">
                                <h3>Our Teachers</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of.....</p>
                                <a href="javascript:void(0)" class="re-readmore">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-5 mt-5">
                            <div class="re-data-list mt-5">
                                <img src="images/business.svg" alt="">
                                <h3>Our Business</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of.....</p>
                                <a href="javascript:void(0)" class="re-readmore">Read More</a>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </main>
        <% include /src/include/footer.ejs %>
    </div>
    <% include /src/include/scripts.ejs %>
</body>

</html>