<div class="modal fade re-modal" id="re-teacher" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="exampleModalLabel">Our Teacher</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div>
                    <p>Our teachers are civil engineers, marketing experts, photographers, and more. We on-board
                        refugees and migrant professionals in varied areas of expertise specifically because we know our
                        customers enjoy speaking with teachers whose knowledge and vocabulary complement business and
                        learning goals.</p>
                    <p>Teachers have an opportunity to train up with University of Exeter and University of Westminster
                        language instructors—people who understand the art of teaching Arabic language to beginners and
                        advanced learners alike. After working as teachers of Arabic language, many participants will
                        graduate from ReLinkt with a will to re-enter their original fields of training. With excellent
                        work history in Turkey and the transitional financing they need to advance toward the next stage
                        of their careers, these teachers can finally succeed in their cities of resettlement.</p>
                </div>
            </div>
        </div>
    </div>
</div>